/*
Colors
Light Blue: #CAEBFA;
Dark Blue: #262262;
Hyperlink Blue: #80B8D1;
Background: #F0FBFF;
Divider: #CAEBFA
*/

/* Layout styling */

* {
    box-sizing: border-box;
}

header {
    background-color: #f0fbff;
    text-align: unset;
    padding: 10px 0;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.37);
    position: fixed;
    width: 100%;
    height: 12%;
}

nav > ul {
    list-style-type: none;
    padding: 10px 10px;
    float: right;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #262262;
    text-align: center;
}

main {
    padding-top: 133px;
}

body {
    background-color: #ffffff;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #262262;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    text-align: center;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #80b8d1;
    text-decoration: none;
}

a:hover {
    color: #262262;
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style-position: inside;
}

li {
    text-align: left;
}

/* Buttons */

.button {
    border-radius: 6px;
    display: inline-block;
    background-color: #caebfa;
    color: #ffffff;
    font-weight: 600;
    padding: 10px;
    transition: 0.2s opacity;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.2s;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: #caebfa;
    color: #262262;
    text-transform: none;
}

.button.contact:hover {
    background-color: #80b8d1;
    color: #262262;
}

/* Images */

.image {
    max-width: 1000px;
}

.logo {
    max-width: 250px;
    float: left;
    margin: 5px 25px;
}

.profile-pic {
    max-width: 500px;
}

.project-icon {
    max-width: 500px;
}

.social-media-icon {
    margin: 0 5px;
}

/* Alignment/Spacing/Columns */

.center-align {
    text-align: center;
}

.left-align h2 {
    text-align: left;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-md-6 {
    width: 50%;
}

.col-lg-8 {
    width: 60%;
}

[class*="col-"] {
    float: left;
}

/* Lines */

hr.solid {
    border-top: 1px solid #caebfa;
}

/* Links */

#hero h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    padding: 30px;
}

#hero {
    background-color: #caebfa;
    width: 100%;
    padding: 2px 5px;
    display: block;
}

#work {
    background-color: #ffffff;
    padding: 3px 0;
}

#life-notes {
    margin-top: 5px;
}

#life-notes-highlight {
    background-color: #f0fbff;
    width: 100%;
    padding: 20px;
}

#contact {
    background-color: #f0fbff;
    padding-top: 5px;
    margin-top: 20px;
}

/* Animation */

.apple {
    fill: #ffa51e;
    margin: 0px;
    animation-duration: 5s;
    animation-name: direction;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    max-width: 250px;
    padding: 10px;
}

.happy {
    fill: #ffa51e;
    margin: 0px;
    animation-duration: 3s;
    animation-name: direction2;
    animation-iteration-count: 0;
    animation-direction: alternate;
    animation-timing-function: linear;
    max-width: 100px;
    padding: 10px;
}

@keyframes direction {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes direction2 {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

/* Media Queries */

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    .col-md-6 {
        width: 50%;
    }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.col-lg-7 {
    width: 60%;
}

.col-lg-5 {
    width: 40%;
}
