/*
Colors
Light Blue: #CAEBFA;
Dark Blue: #262262;
Hyperlink Blue: #80B8D1;
Background: #F0FBFF;
Divider: #CAEBFA
*/

/* Layout styling */

* {
    box-sizing: border-box;
}

header {
    background-color: #f0fbff;
    padding: 20px 0;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.37);
    position: fixed;
    width: 100%;
    height: 12%;
}

nav > ul {
    list-style-type: none;
    padding: 10px 10px;
    float: right;
}

nav > ul > li > a {
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #262262;
    text-align: center;
    margin: 5px;
}

main {
    padding-top: 100px;
}

body {
    background-color: #ffffff;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #262262;
    text-align: center;
}

p {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    text-align: center;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 90%;
}

a {
    color: #80b8d1;
    text-decoration: none;
}

a:hover {
    color: #262262;
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style-position: inside;
}

li {
    text-align: left;
}

footer {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Buttons */

.button {
    border-radius: 6px;
    display: inline-block;
    background-color: #caebfa;
    color: #ffffff;
    font-weight: 600;
    padding: 10px;
    transition: 0.2s opacity;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.2s;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: #caebfa;
    color: #262262;
    text-transform: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button.contact:hover {
    background-color: #80b8d1;
    color: #262262;
    transition: 0.2s;
}

/* Images */

.image {
    max-width: 1000px;
}

.icon {
    max-width: 641px;
    color: #262262;
    padding-top: 20px;
}

.logo {
    max-width: 250px;
    float: left;
    margin: 5px 25px;
}

.profile-pic {
    max-width: 500px;
}

.social-media-icon {
    margin: 0 5px;
}

/* Navigations */

.navtoggle li:not(:last-child) {
    background-color: #f0fbff;
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0px;
}

.navtoggle.responsive li  {
  display: block;
  display: center;
  padding: 20px 150px 5px;
  border-top: 1px solid #CAEBFA;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/* Alignment/Spacing/Columns */

.center-align {
    text-align: center;
}

.left-align h2 {
    text-align: left;
    padding-left: 20px;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

/* Lines */

hr.solid {
    border-top: 1px solid #caebfa;
    margin-top: 30px;
}

/* Boxes */

.highlight {
    background-color: #f0fbff;
    padding: 18px;
    margin-bottom: 26px;
    border: 2px solid #CAEBFA;
    border-radius: 6px;
}

/* Spacing */

.contact-me p {
    font-size: 18px;
    margin: 3px;
}

.email {
  padding: 20px;
}

.table-of-contents p {
  margin: 1px;
  text-align: center;
  padding: 6px;
}

/* Links */

#hero h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 46px;
}

#hero p {
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 26px;
}

#hero {
    background-color: #caebfa;
    width: 100%;
    padding: 2px 5px;
    display: block;
}

#work {
    background-color: #ffffff;
}

#life-notes {
    margin-top: 5px;
}

#contact {
    background-color: #f0fbff;
    padding-top: 5px;
    margin-top: 20px;
}

#overview p {
  padding-left: 80px;
  padding-right: 80px;
}

#purpose-and-context p {
  padding-left: 80px;
  padding-right: 80px;
}

#design-process {
  padding-left: 80px;
  padding-right: 80px;
}

#objective p {
  padding-left: 80px;
  padding-right: 80px;
}

#approach p {
  padding-left: 80px;
  padding-right: 80px;
}

#approach img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#approach-examples {
  margin: 5px;
}

#inspiration p {
  padding-left: 80px;
  padding-right: 80px;
}

#inspiration img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#colors p {
  padding-left: 80px;
  padding-right: 80px;
}

#colors img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#iconography p {
  padding-left: 80px;
  padding-right: 80px;
}

#iconography img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#typography p {
  padding-left: 80px;
  padding-right: 80px;
}

#typography img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#buttons  p{
  padding-left: 80px;
  padding-right: 80px;
}

#buttons img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#low-fidelty-wireframes p {
  padding-left: 80px;
  padding-right: 80px;
}

#low-fidelty-wireframes img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#mid-fidelty-wireframes p {
  padding-left: 80px;
  padding-right: 80px;
}

#mid-fidelty-wireframes img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#high-fidelty-wireframes p {
  padding-left: 80px;
  padding-right: 80px;
}

#high-fidelty-wireframes img {
  padding-bottom: 30px;
  padding-top: 30px;
}

#challenges p {
  padding-left: 80px;
  padding-right: 80px;
}

#takeaways p {
  padding-left: 80px;
  padding-right: 80px;
}

#conclusion p {
  padding-left: 80px;
  padding-right: 80px;
}

#mock-ups p {
  padding-left: 80px;
  padding-right: 80px;
}

/* Animation */

.apple {
    fill: #ffa51e;
    margin: 0px;
    animation-duration: 5s;
    animation-name: direction;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    max-width: 250px;
    padding: 10px;
}

.happy {
    fill: #ffa51e;
    margin: 0px;
    animation-duration: 3s;
    animation-name: direction2;
    animation-iteration-count: 0;
    animation-direction: alternate;
    animation-timing-function: linear;
    max-width: 100px;
    padding: 10px;
}

@keyframes direction {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes direction2 {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0px, 0px);
    }
}


/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {

  nav > ul {
    margin: 1em 0;
  }

    .col-md-6 {
        width: 50%;
    }

    nav > ul {
      margin: 1em 0;
    }

    nav > ul > li {
        display: inline-block;
        position: center;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {

    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .navtoggle li:last-child {
        display: none;
    }

}
